body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6495ED;
}

header {
    background-color: #87CEEB; /* sky blue */
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #0047AB;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #fff5e6;
    color: #191970;
}

.main {
    padding: 20px;
}

.main h2 {
    color: #191970;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
    border: 5px solid #0096FF;
}

.gallery img:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    background-color: #0096FF;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}